/*
#48bf53
#48bf8f
#48b4bf
#4879bf
#5348bf
#8e48bf
*/

@font-face {
  font-family: izayoiMonospaced;
  src: url(IzayoiMonospaced-nwoY.ttf);
}

body {
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
#scrollProgress {
  position: fixed;
}
.progress-container {
  width: 100%;
  height: 16px;
  background: #444444;
}
.progress-bar {
  height: 16px;
  background: #48BF8F;
  width: 0%;
}
.containers {
  width: 100%;
  display: flex;
  font-family: izayoiMonospaced;
}
#kerringtonLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
#div1 {
  background-color: #202020;
  padding-top: 250px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
}
#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 100px;
}
.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skill > img {
  max-width: 96px;
  margin: auto;
}
#div2 {
  background-color: #444444;
  color: #4879BF;
}
#div2Text {
  margin: auto;
  width: 90%;
  font-size: 3vw;
}
#div2Text > h3 {
  color: #48BF8F;
  font-weight: bold;
  text-align: center;
}
#icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 100px;
}
#icons > a {
  margin: 30px;
}
.icon {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon > a > img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}
#div3 {
  background-color: #202020;
  color: #4879BF;
}
#div3Text {
  margin: auto;
  width: 90%;
  font-size: 3vw;
}
#div3Text > h3 {
  color: #48BF8F;
  font-weight: bold;
  text-align: center;
}
#div3Text > h5 {
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: #48BF8F;
}
#div3Text > h6 {
  font-size: 2vw;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: #48BF8F;
}
#div3Text > ul {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 2vw;
  width: 75%;
}

#div4 {
  background-color: #444444;
  color: #4879BF;
}
a:-webkit-any-link {
  color: #4879BF;
}
a:hover {
  color: #48BF8F;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #kerringtonLogo {
    max-width: 95%;
  }
  #div2Text {
    margin: auto;
    width: 95%;
    font-size: 5vw;
  }
  #div2Text > h3 {
    font-size: 7vw;
  }
  #div3Text {
    margin: auto;
    width: 95%;
    font-size: 5vw;
  }
  #div3Text > h3 {
    color: #48BF8F;
    font-weight: bold;
    text-align: center;
    font-size: 7vw;
  }
  #div3Text > h5 {
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: #48BF8F;
  }
  #div3Text > h6 {
    font-size: 4vw;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: #48BF8F;
  }
  #div3Text > ul {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4vw;
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #kerringtonLogo {
    max-width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #kerringtonLogo {
    max-width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #kerringtonLogo {
    max-width: 40%;
  }
}
